.u-section-1 .u-sheet-1 {
  min-height: 182px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 50px;
}.u-section-2 .u-sheet-1 {
  min-height: 681px;
}

.u-section-2 .u-image-1 {
  width: 426px;
  height: 639px;
  margin: 0 auto 42px 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 510px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}